#it-footer {
	text-align: center;
	font-size:10px;
}
.strike {
	text-decoration: line-through;
}
#respond select, #respond option {
	margin:0px 0px 9px;
	width:98%;
	font-size:16px;
}

.wp-simpletracker label {
	color:#888888;
	font-size:12px;
        line-height:24px;
}

